body {
    background-color: rgb(61, 10, 10);

}

.container {
    column-count: 1;
    /* column-width: 250px;
    column-gap: 20px; */
}

.card {
    break-inside: avoid;
    /* background-color: rgb(28, 100, 124); */
    background-image: url(pics/camera.jpg);
    border: 2px solid rgb(191, 24, 24);
    padding: 10px;
    margin: 0 0 1em 0;
}

.NavbarHolder{
    display: flex;
    position: fixed;
    top: 10px;
    width: 95%;
    height: 4.8755vw;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* z-index: 99 !important; */
}

.Navbar{
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    background: #ede4e8;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgba(240, 221, 221, 0.9);
    text-decoration-color: rgb(11, 11, 11);
}

a{
    font-family: Georgia, courier, courier new, sans-serif;
    color: rgba(20, 49, 129, 0.9);
    text-decoration-color: rgb(87, 70, 243);
    font-weight: bold;
}


main:nth-of-type(1) {
    margin-top: 9.8vw;
    color:rgb(239, 212, 212);
    font-family: sans-serif;
}  

h2:nth-of-type(1) {
    text-align: center;
    font-style: italic;
    background-color: rgb(106, 106, 248);
    /* font-family: sans-serif; */
}  

img{    /*  :nth-of-type(1)  */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}  

button{
    color: white;
    background-color: rgb(55, 102, 168);
    /* background-image: url(pics/blue_particle.jpg) no-repeat; */
    padding: 40px;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(49, 16, 93);
    border-color: black;
    box-shadow: 10px 5px 5px red;
}

#display {
    background-image: url(pics/blue_particle.jpg);
    /* background-color: aquamarine; */
}

#full_width{
    width: 100%;
}

#buttons{
    /* flex-direction: row;
    align-items: stretch;
    align-content: space-around; */
    display: flex;
    padding: 30px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: auto;
}