body {
    background-color: rgb(200, 119, 133);

}

.container {
    column-count: 3;
    /* column-width: 250px;
    column-gap: 20px; */
}

.card {
    break-inside: avoid;
    background-color: rgb(195, 215, 216);
    border: 2px solid rgb(150, 34, 34);
    padding: 10px;
    margin: 0 0 1em 0;
}

.NavbarHolder{
    display: flex;
    position: fixed;
    top: 10px;
    width: 95%;
    height: 4.875vw;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* z-index: 99 !important; */
}

.Navbar{
    display: flex;
    padding: 10px 0px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    align-self: stretch;
    background: rgb(236, 22, 90);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: rgba(240, 221, 221, 0.9);
    text-decoration-color: rgb(10, 10, 10);
}

a{
    font-family: Georgia, courier, courier new, sans-serif;
    color: rgba(20, 49, 129, 0.9);
    text-decoration-color: rgb(87, 70, 243);
    font-weight: bold;
}


main:nth-of-type(1) {
    margin-top: 6.8vw;
    color:rgb(22, 8, 91);
    font-family: sans-serif;
}  

h2:nth-of-type(1) {
    text-align: center;
    font-style: italic;
    /* font-family: sans-serif; */
}  

img:nth-of-type(1) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}  
  

/* button{
    padding: 40px;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: green;
} */