body {
    margin: 0;
    overflow: hidden;
}

button {
    background-color: #4c7daf;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.container {
    position: relative;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url(pics/walkway.jpg);
    background-size: 100% auto;
}

.welcome-container,
.rules-container {
    padding: 20px;
    border: 5px solid #7f8f91;
    background-color: #fff;
    max-width: 400px;
    text-align: center;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.rules-container {
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    animation-name: glideDown;
    animation-delay: 2s; /* Delay before animation starts */
}

.welcome-container {
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    animation-name: glideUp;
    animation-delay: 1s; /* Delay before animation starts */
}

@keyframes glideDown {
    from {
        top: -100%;
    }

    to {
        top: 50%;
    }
}

@keyframes glideUp {
    from {
        bottom: -100%;
    }

    to {
        bottom: 50%;
    }
}